.icon-twitter, 
.icon-instagram-new, 
.icon-linkedin, 
.icon-github
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-twitter>svg, 
.icon-instagram-new>svg, 
.icon-linkedin>svg, 
.icon-github>svg
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

